$main-font : 'Titillium Web',
sans-serif;
$secondary-font : 'Roboto Mono',
monspace;
$main-color : #fcfcfc;
$text-color : #333;
$bright-color : #eee;
$dark-color : #000;

// Add style to sidenav
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $main-color;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;

    // Add style to wrapper-list
    .wrapper-list {
        list-style-type: none;
        padding: 0px;

        #welcome-title {
            font-family: $secondary-font;
            text-decoration: none;
            color: $text-color;
            font-size: 12px;
            letter-spacing: .1em;
        }

        #closebtn {
            position: absolute;
            font-family: $secondary-font;
            top: 25px;
            right: 25px;
            font-size: 12px;
            margin-left: 50px;
            letter-spacing: .1em;
            color: $text-color;
        }

        li {
            padding: 20px 30px;
            transition: .5s;
            border-bottom: .5px solid $bright-color;
        }

        a {
            font-family: $main-font;
            text-decoration: none;
            color: $dark-color;
            font-weight: bold;

            li {
                list-style-type: none;
            }
        }

        a:hover li {
            background: $bright-color;
            transition: .5s;
        }

        #list-active {
            color: orange;
        }

        .badge-custom-secondary {
            background-color: orange;
        }

        .badge-custom-ambient {
            background-color: orangered;
        }

        .sub-wrapper-list {
            display: none;
        }

        #subnav-gallery,
        #subnav-jobs {
            cursor: pointer;
        }
    }
}

#main {
    transition: margin-left .5s;

    .menu {
        padding-left: 15px;
        font-weight: bold;
        font-family: $secondary-font;
    }

    .navbar-search {
        padding-top: 15px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

// Dark Mode
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $bright-color;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 20px;
        left: 3px;
        bottom: 3px;
        background-color: #999;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background: $dark-color;
    }

    .input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    // Rounderd Sliders
    .round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}

// this class will be activated when user activate dark mode{
.dark-mode {

    .wrapper-list,
    .uk-navbar-container,
    .content {
        background: #2e2d2d;
        transition: 0.4s ease-in-out;
    }

    .wrapper-list {
        li {
            color: $bright-color;
            border-bottom: .5px solid #333;

            a {
                color: $bright-color !important;
            }
        }

        a:hover li {
            background-color: #000;
            color: $bright-color;

        }
    }
}

/* Content */
.content {
    height: 100vh;
}