$main-font : 'Titillium Web',
sans-serif;
$secondary-font : 'Roboto Mono',
monspace;
$main-color : #fcfcfc;
$text-color : #333;
$bright-color : #eee;
$dark-color : #000;

// Add style to sidenav
.sidenav {
    height: 100%;
    // width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $main-color;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;

    // Add style to wrapper-list
    .wrapper-list {
        list-style-type: none;
        padding: 0px;

        #welcome-title {
            font-family: $secondary-font;
            text-decoration: none;
            color: $text-color;
            font-size: 12px;
            letter-spacing: .1em;
        }

        #closebtn {
            position: absolute;
            font-family: $secondary-font;
            top: 25px;
            right: 25px;
            font-size: 12px;
            margin-left: 50px;
            letter-spacing: .1em;
            color: $text-color;
        }

        li {
            padding: 20px 30px;
            transition: .5s;
            border-bottom: .5px solid $bright-color;
        }

        a {
            font-family: $main-font;
            text-decoration: none;
            color: $dark-color;
            font-weight: bold;

            li {
                list-style-type: none;
            }
        }

        a:hover li {
            background: $bright-color;
            transition: .5s;
        }

        #list-active {
            color: orange;
        }

        .badge-custom-secondary {
            background-color: orange;
        }

        .badge-custom-ambient {
            background-color: orangered;
        }
    }
}